@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');
body{
    background-color:rgb(189, 251, 110);
    margin: 0px;
    font-family: 'League Spartan', sans-serif;
}


#jogo_2{
    visibility: collapse;
    text-align: center;
    position: fixed;
    z-index: 3;
    top:0;
    text-align: center;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-color: rgb(47, 150, 168);
}

#jogo_3{
    z-index: 4;
    visibility: visible;
    position: fixed;
    top: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-color: rgb(40, 129, 161);
}

#vermelho,#azul,#verde,#amarelo{
    width: 50px;
    height: 50px;
    margin: auto;
    box-shadow: 0 0 10px;
    border-radius: 100%;
    border: 8px black double;
    border-color: black;
}
#vermelho{background-color: rgba(200, 0, 0, 0.50);}
#verde{background-color: rgb(0, 200, 0,0.50);}
#azul{background-color: rgb(0, 0, 200,0.50);}
#amarelo{background-color: rgb(200, 200,0,0.50);}

#jogo_1{
    visibility: collapse;
    text-align: right;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(104, 255, 167);
}

#dados_cima{
    height: 50px;
    width: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    font-size: 40px;
    align-items: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px;
}
#icon_cima{
    width: 50px;
    height: 50px;
    margin: auto;
}


#personagem{
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
#clovis{
    width: 400px;
    height: 400px;
    object-fit: cover;

}
#img{
    position: relative;
    top: 2px;
    width: 70px; 
    height: 70px; 
    margin: auto;
    margin-right:20px;
    object-fit: cover;}
#img:hover{
    filter:contrast(70%)
}
#lista_jogos{
    visibility: collapse;
    text-align: center;
    z-index: 1;
    width: 100vw;
    height: 90px;
    bottom: 90px;
    position: fixed;
    
    background-color: rgba(228, 225, 225, 0.479);
    
}

#dados_baixo{
    width: 100%;
    height: 100px;
    background-color:rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    text-align: center;
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 10px;
    display: flex;
    font-size: 50px;
    align-items: center;
} 
#comer,#beber,#jogar{
    margin: auto;
    width: 60px;
    height:60px;
}
#tabuleiro_1{
    margin: auto;
    width: 100vw;
    height: 200px;
    background-color: white;
    margin-top: 25vh;
    box-shadow: 0px 0px 10px;
}

#tabuleiro_2{
    margin: auto;
    width: 100vw;
    height: 200px;
    background-color: white;
    margin-top: 25vh;
    box-shadow: 0px 0px 10px;
    display: flex;
    flex-direction: row-reverse;
}

#tabuleiro_3{
    margin: auto;
    width: 100vw;
    margin-top:10vh;
    height: 500px;
    background-color: rgb(249, 240, 233);
    text-align: center;
    box-shadow: 0px 0px 10px; 
    display: flex;
    flex-wrap: wrap;

}

.peça{
    width: 100px;
    height: 100px;
    margin-left: 70px;
    top: 50px;
    box-shadow: 0px 0px 5px;
    background-color: rgb(255, 0, 0);
    position: relative;    
}

#clovis_jogo_1{
    position: relative;
    left: 20px;
    top: 100px;
    background-color: rgb(136, 172, 36);
    width: 40px;
    height: 80px;
    border-radius: 10px;
}
.pulo{
    animation: personagem 0.5s linear infinite;
}
#quadrado{
    width: 40px;
    height: 40px;
    background-color: blue;
    position: relative;
    left:360px;
    top: 60px;
    border-radius: 10px;
}
@keyframes quadrado{
    0%{left: 100vh;}
    90%{left: 20px;}
    100%{left: -40px;}
    100%{left: -40px;}
    100%{left: -40px;}

}
#pontos_1,#pontos_2{
    position: relative;
    top: 2px;
    margin: 0px;
    margin-right: 20px;
    z-index: 0;
}
#pontos_3{
    position: fixed;
    top: 20px;
    right: 10px;
    font-size: 40px;;
    margin:0px;
}
#saida{
    position: fixed;
    top: 20px;
    left: 10px;
    margin: 0px;
}


@keyframes personagem{
    0%{top: 100px;}
    80%{top: 40px;}
    90%{top: 40px;}
    100%{top: 40px;}
}
@keyframes parado{
    100%{top:100px ;
    }

}
#derrota,#derrota_2{
    visibility: collapse;
    color: red;
    font-size: 50px;
    text-align: center;
}

